@font-face {
    font-family: 'digital-7-font';
    src: url('/font/digital-7.ttf');
}

body {
    background-color: #5164AE;
}

/* farge på overskrift*/
h1 {
    color: #349DD8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C6C4E0;
}

h3 {
    color: #C6C4E0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 200px;
    height: 200px;
}


.topnav {
    background-color: #232663;
    overflow: hidden;
    align-self: center;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif 1px solid;
}

/* .subnav:hover {
    background-color: #3C4DA1;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
} */

.topnav a.active {
    background-color: #3951A3;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    background-color: #201e1e35;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


.subnav-main {
    float: left;
    overflow: hidden;
    ;
}

.subnav-main .subnav {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subnav-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #232663;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subnav-menu a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 5px;
    height: 100%;
}

.subnav-menu a:hover {
    background-color: #3C4DA1;
}

.subnav-main:hover .subnav-menu {
display: block;
margin-top: -10px;

}


.imagecontainer {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    text-align: center;
    margin: auto;
}


.videocontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
    text-align: center;
    margin: auto;
}

.middletxt {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

h2 {
    color: #232663;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: xx-large;
}

.knapp {
    background-color: #232663;
    border: 0;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
}

.knappar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgmeg {
    width: 250px;
    height: 350px;
    border-radius: 75px;
}

#deathtrip {
    width: 250px;
    height: 350px;
}

#monog {
    width: 350px;
    height: 250px;
}

.omtekst {
color: #C6C4E0;
}

.temafarge {
    color: #C6C4E0;
}

.boks {
width: 20vw;

}
.boks img hover {
    scale: 1.2;
}

.boksar {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    text-align: center;
    margin: auto;
    gap: 20px;
}

.sigma p {
    color: #C6C4E0;
    font-family: 'digital-7-font';
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    letter-spacing: 3px;
    margin-left: 3%;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
  }
  
